.header {
   padding: 80px; /* some padding */
   text-align: center; /* center the text */
   background: #ce6a6b;
   color: white; /* white text color */
 }

.navbar {
   overflow: hidden; /* Hide overflow */
   background-color: #ebaca2 ; /* Dark background color */
 }

.navbar a {
 float: left; /* Make sure that the links stay side-by-side */
 display: block; /* Change the display to block, for responsive reasons (see below) */
 color: white; /* White text color */
 background-color: #ebaca2;
 text-align: center; /* Center the text */
 padding: 14px 20px; /* Add some padding */
 text-decoration: none; /* Remove underline */
 font-size: 22px;
 border-style:hidden;
 border-width: 2px;
}

.navbar a.right{
 float: right;
}

/* Change color on hover/mouse-over */
.navbar a:hover {
   background-color: #4a919e; 
   transition: 0.3s;
 }

.feature {
 float: center; /* Make sure that the links stay side-by-side */
 position: absolute;
 top: 50%;
 bottom: 50%;
 left: 43%;
 right: 42%;
 display: block; /* Change the display to block, for responsive reasons (see below) */
 background-color: #bed3c3; 
}

/* Style the search field */
form.main input[type=text] {
 float: center;
 padding: 20px;
 font-size: 20px;
 border: 1px solid grey;
 float: left;
 width: 80%;
 background: #f1f1f1;
}

.background{
 font-size: 200px;
 color: #585858;
 background-color: #bed3c3;
}

.background l1{
 color: #585858;
}

.background l2{
 color: #686868;
}

.background l3{
 color: #484848;
}


  input[type=text] {
   width: 130px;
   box-sizing: border-box;
   border: 2px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
   background-color: white;
   background-position: 10px 10px; 
   background-repeat: no-repeat;
   padding: 12px 20px 12px 40px;
   -webkit-transition: width 0.4s ease-in-out;
   transition: width 0.4s ease-in-out;
 }
 
 input[type=text]:focus {
   width: 100%;
 }
